@tailwind base;
@tailwind components;
@tailwind utilities;

.inner {
    background-color: black;
    .page {
        background-color: white;
    }
    .slide {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: white;
        width: 100vw;
        height: 100vh;
    }
}
